.images {
	width: 250px;
	align-content: center;
	height: auto;
	border: 4px solid rgb(128, 72, 128);
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 6px 8px rgb(10, 10, 100);
}

p {
	margin-top: 25px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: rgb(10, 10, 100);
	opacity: 0.75;
	padding: 20px;
}

.aboutContainer {
	align-content: center;
}
