.images {
	width: 250px;
	align-content: center;
	height: auto;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	/* box-shadow: 0 6px 10px lightblue; */

	float: left;
}

p {
	margin-top: 25px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: rgb(10, 10, 100);
	/* opacity: 0.90; */
	padding: 20px;
	border-radius: 15px;
}

.aboutContainer {
	align-content: center;
	opacity: 0.9;
}

.words-about {
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: rgb(10, 10, 100);
	color: white;
	line-height: 50px;
}

.bgbx {
	border: 3px solid rgba(255, 225, 255, 0.1);
	border-radius: 15px;
}
