.contact-container {
	background-color: white;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#icons {
	font-size: 75px;
	align-items: center;
	color: darkblue;
}

#icons a:hover {
	background-color: lightblue;
	color: royalblue;
}

#email a:hover {
	background-color: lightblue;
	color: darkblue;
}

.row {
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}
