
/* .footer.jumbotron {
	justify-content: center;
	align-content: center;
} */


.contact__container {
	background-color: lightblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* max-width: 1120px; */
  width: 100%;
	margin: 20px auto;
	color: black;
}

a {font-size: 28px}
/* .contact-container {
	background-color: white;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
} */

/* #email-row
#phone-row
#icons {
	font-size: 75px;
	color: darkblue;
	align-content: center;
} */

#icons a:hover {
	background-color: lightblue;
	color: royalblue;
}

#email a:hover {
	background-color: lightblue;
	color: darkblue;
}

