* {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.contact {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.cards {
  display: flex;
  height: 90px;
  /* align-items: stretch; */
  justify-content: center;
  font-size: 18px;
  vertical-align: middle;

}


